<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SQLServer" value="162.255.138.254" />
    <add key="SQLDatabase" value="SmartPiXL" />
    <add key="EmailServer" value="smtp.gmail.com"/>
    <add key="EmailPort" value="587"/>
    <add key="EmailUser" value="orders@m1-data.com"/>
    <add key="EmailPassword" value="i&amp;Kt*548)"/>
    <add key="EmailSendCC" value="jmedina@m1-data.com"/>
    <add key="EmailSendFrom" value="Orders@m1-data.com"/>
    <add key="PiXL_Match_Stored_Procedure" value="SP_PiXLMatch" />
    <add key="GetClients_Stored_Procedure" value="SP_GetClients" />
    <add key="HTMLFile" value="C:\Project Dev Folders\PiXLNightlyFileHTML\index.html"/>
    <add key="DayToProcess" value="1" />
  </appSettings>
</configuration>